html
    head
        title [title]
        include /styles
        include /fonts
    body
        div#splash(style="background-image: url('" + assets + "/bg.jpg');")
            div#splash-name(class="centered")
                div(style="color: #fafafc") [tutor name]
                div#title(style="color: #fafafc") [title]
        div(class="container")
            div(style="text-align: center;")
                img#profile-img(src=assets + "/profile.jpeg")
            hr(style="background-color: #651f1f55; height: 1px;")
            div(class="twelve columns")
                div(class="section")
                    div(class="title") Experience
                    span.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                div(class="section")
                    div(class="title") Services
                    span.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                div(class="section")
                    div(class="title") Contact
                    span.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    div
                        div [xxx-xxx-xxxx]
                        div [contact@tutor.net]
