html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1c0a;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 100%;
}

/* title */

#splash {
    height: 80%;
    width: 100%;
    color: ghostwhite;
}


#splash-container {
    max-width: 100%;
    width: 100%;
    position: relative;
    background-color: #14141ab0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-align: center;
}

@media(min-width: 400px){
     #splash-container {
        width: 80%;
        position: relative;
        background-color: #14141ab0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

@media(min-width: 760px){
     #splash-container {
        width: 40%;
        position: relative;
        background-color: #14141ab0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

#splash-container > * {
    padding: 2.5%;
}

#splash-name {
    font-size: 2.3em;
}

#splash-title {
    font-size: 1.2em;
}

/* profile */

#profile-img {
    max-height: 350px;
}

#body {
    color: #1a1a1c;
}

/* footer */

#footer {
    height: 20px;
    background-color: #1a1a1c;
}

/* general reuse classes */

.section {
    text-align: center;
    margin-bottom: 20px;
}

.section .title {
    font-size: 1.75em;
    color: #651f1f;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-horizontal {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}
